@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.text-display {
  font-size: 7vw;
  line-height: 1.2;
}

.text-mono {
  @apply uppercase text-lg mt-6;

  letter-spacing: 3px;
}

.wysiwyg h4 {
  @apply text-mono
}

:root {
  --primary: #cd6440;
  --secondary: #e3c4e2;
  --background: #e3c4e2;
  --contrast: white
}

html {
  background-color: var(--background);
}
